.textArea {
  resize: none;
  outline: none;
  border: none;
  padding: 10px 20px;
  margin: 0;
  font-size: 1.6rem;
  width: 100%;
  min-height: 50vh;
}

@supports (padding: max(1px)) {
  .textArea {
    padding-left: max(10px, env(safe-area-inset-left));
    padding-right: max(10px, env(safe-area-inset-right));
  }
}
