.container {
  display: flex;
  flex-direction: column;
}

.textArea {
  display: flex;
  resize: none;
  outline: none;
  padding: 10px 20px;
  margin: 0;
  border: 1px solid rgb(216, 220, 227);
  font-size: 1rem;
  min-width: 300px;
  min-height: 300px;
}

.button {
  padding: 10px;
  margin: 10px;
}
