:root {
  --navbar: #f7b731;
  --navbarTextColor: #fff;
  --navbarHeight: 56px;
  --toolbarHeight: 44px;
}

* {
  box-sizing: border-box !important;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, segoeUI, Roboto,
    Ubuntu, 'Helvetica Neue', sans-serif;
  -webkit-tap-highlight-color: transparent;
}
